*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: #E9ECEF;
}
@media only screen and (max-width : 720px)  {

    .card-group{
        display: block;
        
    }
    .card{
        margin-bottom: 20px ;
    }
    
}